<template>
    <div @click.stop>
        <div class="lightbox-loading" v-if="loading"></div>
        <transition name="lightbox-fade">
            <img :src="src" class="lightbox-image" :style="style" :key="src">
        </transition>
    </div>
</template>

<script>
  export default {
    props: {
      image: {type: String},
    },
    data() {
      return {
        src: false,
        loading: true,
        style: {}
      }
    },
    methods: {
      resizeImage(img) {
        let w = img.width
        let h = img.height

        if (w > window.innerWidth || h > window.innerHeight) {
          let rationImg = w / h
          let rationWin = window.innerWidth / window.innerHeight

          if (rationImg > rationWin) {
            w = window.innerWidth
            h = w / rationImg
          }
          else {
            h = window.innerHeight
            w = h * rationImg
          }
        }
        this.style = {
          width: w + 'px',
          height: h + 'px',
          top: ((window.innerHeight - h) * 0.5 ) + 'px',
          left: ((window.innerWidth - w) * 0.5 ) + 'px'
        }
      }
    },
    mounted() {
      let img = new window.Image()
      img.src = this.image

      img.onload = _ => {
        this.loading = false
        this.src = this.image
        this.resizeImage(img)
      }

      this.resizeEvent = () => {
        console.log('resize');
        this.resizeImage(img)
      }
      window.addEventListener('resize', this.resizeEvent)
    },
    destroyed () {
        window.removeEventListener('resize',this.resizeEvent)
    }
  }
</script>