<style src="./lightbox.scss" lang="scss"></style>

<template>
    <div class="lightbox" v-if="current" @click.prevent="close">
        <transition :name="transition">
            <lightbox-image :image="current" :key="current"></lightbox-image>
        </transition>
        <div class="lightbox-close" @click.prevent="close"></div>
        <button class="lightbox-btn lightbox-btn-left" @click.stop.prevent="previous"></button>
        <button class="lightbox-btn lightbox-btn-right" @click.stop.prevent="next"></button>
    </div>
</template>

<script>
import './LightBoxDirective'
import lightboxStore from './LightboxStore'
import lightboxImage from './lightboxImage.vue'

export default {
  components: {
    lightboxImage
  },
  data () {
    return {
      state: lightboxStore.state,
      store : lightboxStore,
      direction: 'next'
    }
  },
  computed: {
    current() {
      if(this.state.current) {
        return this.state.current
      }
    },
    transition () {
      return 'lightbox-' + this.direction
    }
  },
  methods: {
    close () {
      this.store.close()
    },
    next () {
      this.store.next()
      this.direction = 'next'
    },
    previous () {
      this.store.previous()
      this.direction = 'previous'
    }
  }
}
</script>