.lightbox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000,0.75);
  color:white;
}
.lightbox-image {
  position: fixed;
}
.lightbox-close {
  position: fixed;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  margin: 20px ;
  background: url(assets/cross-out.png);
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
.lightbox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #eee;
  background: rgba(#eee, 0.5);

  &:after {
    display: block;
    content: '';
    width:20px;
    height: 20px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    animation: lightbox-loading .5s ease infinite;
  }
}
.lightbox-footer {
  border-top: solid 1px gray;
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  padding: 5px;
}
.lightbox-footer-img {
  box-shadow: 0px 0px 4px 2px rgba(#000,0.4);
  cursor:pointer;

  &:hover {
    box-shadow: 0px 0px 6px 2px rgba(#000,0.6);
  }
}
.lightbox-btn{
  position: absolute;
  top: 50%;
  left: 10px;
  width: 64px;
  height: 64px;
}
.lightbox-btn-right{
  left:auto;
  right: 10px;
  background-image: url(assets/right-arrow.png);
}
.lightbox-btn-left {
  background-image: url(assets/left-arrow.png);
}

//TRANSITION
.lightbox-fade-enter-active, .lightbox-fade-leave-active {
  transition: opacity 0.5s;
}
.lightbox-fade-enter, .lightbox-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.lightbox-next-enter {
  transform: translateX(100%);
  opacity:0;
}
.lightbox-previous-enter {
  transform: translateX(-100%);
  opacity:0;
}
.lightbox-next-enter-to,.lightbox-previous-enter-to {
  transition: opacity , transform 0.5s;
  // To fix loding bar position
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}



//KEYFRAMES
@keyframes lightbox-loading {
  0% {
    opacity: 0.5;
    transform: scale(.75);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(.75);
  }
}