<template>
  <div id="app">
    <div id="body">
      <div v-if="title == 'rio'">
        <a :href="'http://lorempicsum.com/rio/600/300/' + n" v-lightbox v-for="n in 6">
          <img :src="'http://lorempicsum.com/rio/150/150/' + n">
        </a>
      </div>
      <section>
        <div v-if="title == 'futurama'">
          <a :href="'http://lorempicsum.com/futurama/600/300/' + n" v-lightbox v-for="n in 6">
            <img :src="'http://lorempicsum.com/futurama/150/150/' + n">
          </a>
        </div>
      </section>
      <lightbox></lightbox>
      <div class="lightbox-footer">
        <button @click.prevent="title = 'rio'"><img src="http://lorempicsum.com/rio/150/150/1" class="lightbox-footer-img"></button>
        <button @click.prevent="title = 'futurama'"><img src="http://lorempicsum.com/futurama/150/150/1" class="lightbox-footer-img"></button>
      </div>
    </div>
  </div>
</template>

<script>
import lightbox from './components/lightbox/lightbox.vue'
export default {
  name: 'app',
  data () {
    return {
      title: 'rio'
    }
  },
  components: {
    lightbox
  }
}
</script>

<style>
body{
  padding: 0;
  margin: 0;
}
#app {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #F9FFEA;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
button:active,button:focus{
  outline: none;
}
#body {
  margin-top: 20px;
}

</style>
